<%= form_for @tool, :html => { :class => "form-horizontal tool" } do |f| %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :country, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :country, :class => 'form-control' %>
    </div>
    <%=f.error_span(:country) %>
  </div>
  <div class="form-group">
    <%= f.label :brand, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :brand, :class => 'form-control' %>
    </div>
    <%=f.error_span(:brand) %>
  </div>
  <div class="form-group">
    <%= f.label :production_year, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :production_year, :class => 'form-control datepicker_tools', readonly: true, value: @tool.production_year.try(:strftime, "%Y") %>
    </div>
    <%=f.error_span(:production_year) %>
  </div>
  <div class="form-group">
    <%= f.label :tool_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tool_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tool_type) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tools_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
