<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @tool.country %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @tool.brand %>
</p>

<p>
  <strong>Production year:</strong>
  <%= @tool.production_year %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tool.type %>
</p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
