<div class="page-header">

  <h1>Edit profile</h1>

</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "form-horizontal user" }) do |f| %>

    <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, autofocus: true, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :surname, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :surname, :class => 'form-control' %>
    </div>
    <%=f.error_span(:surname) %>
  </div>

  <div class="form-group">
    <%= f.label :birthdate, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :birthdate, :class => 'form-control datepicker_users', readonly: true, value: @user.birthdate.try(:strftime, "%d/%m/%Y") %>
    </div>
    <%=f.error_span(:birthdate) %>
  </div>

  <div class="form-group">
    <%= f.label :adress, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :adress, :class => 'form-control' %>
    </div>
    <%=f.error_span(:adress) %>
  </div>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => 'control-label col-lg-2' %> <i>(leave blank if you don't want to change it)</i><br />
    <div class="col-lg-10">
      <%= f.password_field :password, :class => 'form-control', autocomplete: "off" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <%=f.error_span(:password) %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.password_field :password_confirmation, :class => 'form-control', autocomplete: "off" %>
    </div>
    <%=f.error_span(:password_confirmation) %>
  </div>

  <div class="form-group">
    <%= f.label :current_password, :class => 'control-label col-lg-2' %> <i>(we need your current password to confirm your changes)</i><br />
    <div class="col-lg-10">
      <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
    </div>
    <%=f.error_span(:current_password) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Update", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<%= button_to "Cancel my account", new_user_session_path, data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-xs btn-danger delete-record-button cancel-account' %>
