<h2>Add user</h2>

<%= form_for(@user, url: users_admin_index_path(@user)) do |f| %>
  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_field :birthdate, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :adress %><br />
    <%= f.text_field :adress, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %> <br />
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
