<div class="page-header">
  <h1>Log in</h1>
</div>
<%= form_for(resource, class: "form-inline", as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group session-form">
    <%= f.label :email, class: "sr-only", for: "email" %><br />
    <%= f.email_field :email, autofocus: true, type: "email", class: "form-control", id: "email", placeholder: "Enter email" %>
    <%=f.error_span(:email) %>
  </div>

  <div class="form-group session-form">
    <%= f.label :password, class: "sr-only", for: "pwd" %>
    <%= f.password_field :password, autocomplete: "off", type: "password", class: "form-control", id:"pwd", placeholder: "Enter password" %>
    <%=f.error_span(:password) %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox session-checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "session-checkbox-label" %>
    </div>
  <% end -%>
  <%= f.submit "Log in", class: "btn btn-default" %>
<% end %>
